.tableContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background-color: white;
  width: 90%;
  margin: 10rem auto;
  border-radius: 0.8rem;
}

.tableContainer thead,
tbody {
  color: black;
  text-align: center;
}

.tableContainer thead {
  font-size: 2rem;
  color: red;
}
